

body{
	background-color: grey;
}

nav{
	text-align: left;
	background-color: #333;
	padding-left: 6.7%;
	padding-bottom: 1%;
	padding-top: 1%;
	font-size: 130%;
	
}


.logo{
	position: fixed;
	opacity: 60%;
	transition: opacity 300ms;
}

.logo:hover{
	opacity: 100%;
	transition: opacity 300ms;
}



form {
	display: block;
	text-align: center;
	font-weight: bold;
	font-size: 110%;
	margin-left: 15%;
	margin-right: 15%;

	padding-top: 1%;
	padding-bottom: 1%;

	padding-left: 1%;
}





.research{
	list-style-type: none;
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 4%;
	margin-bottom: 4%;
	padding-left: 2%;
	padding-right: 2%;
	padding-top: 2%;
	padding-bottom: 2%;
	border-style: solid;
	border-width: 5pt;
	border-color: black;
	background-color: white;
	transition: border-color 900ms;
}

.research:hover{
	border-color: green;
	transition: border-color 900ms;
	cursor: pointer;
}


.serv{
	
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 6%;
	margin-bottom: 6%;
	padding-left: 2%;
	padding-right: 2%;
	padding-top: 2%;
	padding-bottom: 2%;
	background-color: white;
}



/* custom font located at /assets/luckiest-guy.ttf */
@font-face{
	font-family: main_font;
	src: url("./assets/luckiest-guy.ttf");
}

.navlink{
	color: black;
	display:inline-block; 
	margin-right:10px;
	text-decoration: none;
	font-family: main_font;
}




.navlink:hover{
	color:green;
	/*text-decoration: underline;*/
	transition: color 600ms;
}


.footlink{
	color: grey;
	display:inline-block; 
	margin-right:10px;
	text-decoration: none;
	font-family: Times;
}


.footlink:hover{
	color: white;
	/*text-decoration: underline;*/
	transition: color 600ms;
}






footer{
	background-color: #333;
	font-size: 110%;
	margin-top: 37.7%;
	padding: 0.4% 0.4%;

	text-align: center;
}