

body{
	background-color: red;
}

nav{
	text-align: center;
	background-color: black;
	padding-bottom: 1%;
	padding-top: 1%;
	font-size: 160%;
	
}

form {
	display: block;
	text-align: center;
	background-color: red;
	margin-left: 15%;
	margin-right: 15%;

	padding-top: 1%;
	padding-bottom: 1%;

	padding-left: 1%;
}

.formcont{
	align-self: center;
}


@font-face{
	font-family: main_font;
	src: url("./assets/redemption.ttf");
}

.navlink{
	color: red;
	display:inline-block; 
	margin-right:10px;
	text-decoration: none;
	font-family: main_font;
}


.navlink:hover{
	color:blue;
	/*text-decoration: underline;*/
	transition: color 600ms;
}






footer{
	background-color: #333;
	font-size: 110%;
	padding: 0.4% 0.4%;
	text-align: center;
}